:root{
    --color-bg-body: #F4F6F3;
    --color-bg-board: #DDE5DD;
    --color-bg-cell: #FBFCFA;
    --color-bg-cell-hover: #E7EFE7;
    --color-border: #C8D2C7;

      /* Game Marks */
    --color-x: #5F7A61;
    --color-o: #7D8F69;

    /* Text */
    --color-text-primary: #37423D;
    --color-text-result: #6E7B74;
    --color-text-result: #4F6B58;

    --color-name-bg: #FFFFFF;
    --color-name-border: #C8D2C7;
    --color-input-border-focus: #8FB996;
    --color-name-text: #37423D;
}


body{
    background-color: var(--color-bg-body);

}
*{
    margin:0;
    padding: 0;
    font-family: Oxygen, 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:12px;

    justify-self: center;
    width: 500px;
    height: 500px;
    background-color: var(--color-bg-board);
    padding:20px;
    border-radius:20px;
}

.board > .cell, .cell:disabled{
    background-color:var(--color-bg-cell);
    font-size: 72px;
    border:3px inset var(--color-border);
    border-radius:15px;

}


.controls{
    grid-column: span 3;
}

.turn{
    font-size: 36px;
    font-weight: 700;
    grid-column: span 3;
}


.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 200px;
    margin-top:12px;
    justify-items: center;

    row-gap: 12px;
    
}

input{
    border: none;
    font-size: 32px;
}

.name{
    font-weight:600;
}

.player-container{
    display:grid;
    grid-template-rows: 50px 50px 1fr;
    text-align:center;
}

.marker{
    /* align-self: center; */
    margin-top:16px;
    font-size: 125px;
}

/* .cell{
    padding:15px;
} */