*{
    margin:0;
    padding: 0;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr) 100px;
    gap:12px;

    justify-self: center;
    width: 550px    ;
    min-height: 550px;
    
    margin:24px;
}


.controls{
    grid-column: span 3;
    grid-row: 4;
    align-self: center;
    justify-content: center;
    display:flex;

    gap:20px;
}
/* .cell{
    padding:15px;
} */