*{
    margin:0;
    padding: 0;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:12px;

    justify-self: center;
    width: 550px    ;
    min-height: 550px;
}


.controls{
    grid-column: span 3;
    grid-row: 5;
    align-self: center;
    justify-content: center;
    display:flex;

    gap:20px;
}

.turn{
    font-size: 36px;
    text-align: center;
}



.main{
    display: flex;
    justify-content: space-evenly;
    margin-top:12px;
}

.center > *:not(:first-child){
    margin-top:16px;
}









/* .cell{
    padding:15px;
} */